.smallSnicker {
  display: none;
}

button {
  background: #5CBE3A;
  border-radius: 4px;
  width: 149px;
  height: 49px;
  border: none;
  color: white;
  font-family: "Raleway";
  font-weight: 500;
  transition-duration: 1s;
}
button:hover {
  background: #5fac45;
  transition-duration: 1s;
}

a {
  text-decoration: none;
  color: #051101;
  font-weight: 500;
}

p {
  font-family: "Raleway", sans-serif;
  color: #051101;
}

.container {
  width: 71.875%;
}

.header {
  width: 100vw;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #EBFFE4;
}
.header_container {
  width: 71.875%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 2;
}
.header .nav_ul {
  display: flex;
  height: 100%;
  flex-wrap: wrap;
  margin-left: -30px;
}
.header .nav_ul_element {
  margin-left: 30px;
}
.header .nav_ul_element a {
  opacity: 0.6;
  font-size: 20px;
}
.header .nav_ul_element .active {
  opacity: 1;
}

.upper-main {
  width: 100vw;
  background: #EBFFE4;
  display: flex;
  justify-content: center;
  padding-top: 120px;
  padding-bottom: 80px;
}
.upper-main .container {
  display: flex;
  justify-content: space-between;
}
.upper-main .container .text-block {
  z-index: 2;
}
.upper-main .container .text-block .upper-text {
  display: flex;
  align-items: center;
}
.upper-main .container .text-block .upper-text p {
  text-transform: uppercase;
  color: #5CBE3A;
  font-weight: 600;
  font-size: 22px;
}
.upper-main .container .text-block .upper-text img {
  width: 50px;
  height: 17px;
}
.upper-main .container .text-block .title {
  font-weight: 700;
  font-size: 61px;
  margin-top: 15px;
  margin-bottom: 25px;
}
.upper-main .container .text-block .inf {
  opacity: 0.7;
  line-height: 150%;
}
.upper-main .container .text-block .inf strong {
  color: #5CBE3A;
}
.upper-main .container .text-block .pricing {
  display: flex;
  align-items: center;
  margin-top: 15px;
}
.upper-main .container .text-block .pricing .cost-now {
  font-weight: 700;
  font-size: 31px;
  color: #5CBE3A;
}
.upper-main .container .text-block .pricing .cost-then {
  font-weight: 500;
  font-size: 15px;
  text-decoration: line-through;
  color: #87D16D;
  margin-left: 20px;
}
.upper-main .container .text-block .buttons {
  margin-top: 40px;
}
.upper-main .container .text-block .buttons .main_more::before {
  content: "";
  width: 159px;
  height: 149px;
  background-color: #5CBE3A;
  display: block;
  position: absolute;
  margin-top: -100px;
  transform: translateX(160px);
  z-index: -1;
  transition-duration: 1s;
}
.upper-main .container .text-block .buttons .main_more {
  background: none;
  border: 1px solid rgba(92, 190, 58, 0.3);
  color: #5CBE3A;
  position: relative;
  overflow: hidden;
  z-index: 2;
}
.upper-main .container .text-block .buttons .main_more:hover {
  color: white;
}
.upper-main .container .text-block .buttons .main_more:hover::before {
  transition-duration: 1s;
  transform: translateX(-10px);
}
.upper-main .container .text-block .num_info {
  width: 300px;
  display: flex;
  justify-content: space-between;
  margin-top: 85px;
}
.upper-main .container .text-block .num_info p {
  color: #051101;
  opacity: 0.7;
  font-weight: 500;
  text-align: center;
}
.upper-main .container .text-block .num_info strong {
  font-weight: 700;
  font-size: 85px;
  color: #5CBE3A;
}
.upper-main .container .img-block {
  position: relative;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.upper-main .container .img-block .fullSnicker {
  position: absolute;
  z-index: 1;
  margin-left: -700px;
  margin-top: -200px;
}/*# sourceMappingURL=style.css.map */